#user-auth-2
{
width: 100%;
overflow:auto;
padding: 20px 0 0 0;
height: 500px;
position:relative;
}
#user-auth-2-1, #user-auth-2-2
{
position:absolute;
width: 300px;
top: 0px;
}
#user-auth-2-1
{
left: 50%;
margin-left: -460px;
}
#user-auth-2-2
{
left: 50%;
margin-left: 10px;
}
