#table-object-saler-info
{
width: 100%;
}
#table-object-saler-info tr td
{
padding: 2px 0 2px 0;
}


#table-object-saler-info tr td.td-saler-info-name
{
width: 200px;
font-weight:bold;
}
#table-object-saler-info tr td.td-saler-info-data a
{
color:#000000;
font-weight:bold;
}

#table-object-saler-info tr td.td-saler-info-data-add
{
text-align:right;
vertical-align:bottom;
}
#table-object-saler-info tr td.td-saler-info-data-add a
{
color:#FF0000;
font-weight:bold;
}