.objects-list-special
{
font-style:italic;
color:#330033;
}
#div-objects-list
{
width: 100%;
margin: 0 auto 0 auto;
padding: 20px 0 0 0;
}

#div-objects-list span.no-wrap
{
display:block;
white-space:nowrap;
}
#div-objects-list span.price-old
{
text-decoration:line-through;
}
#div-objects-list span.price-new
{
color:#FF0000;
font-weight:bold;
}


#div-objects-list table
{
width: 100%;
border-collapse:collapse;
}
#div-objects-list table tr th
{
color: #3F3F3F;
font-family:"Microsoft Sans Serif", Helvetica, Arial, sans-serif;
}

#div-objects-list table tr td
{
text-align:left;
}

#div-objects-list table tr.mark td
{
background-color:#FFF1D2;
}

#div-objects-list table tr td.td-objects-list-buffer
{
height: 3px;
background:url(_img/table-buffer-line.png) no-repeat center center;
}

#div-objects-list table tr td.td-objects-list-image
{
width: 110px;
vertical-align:middle;
}

#div-objects-list table tr td.td-objects-list-image img
{
border: 1px solid #999999;
padding: 1px;
}

#div-objects-list table tr td.td-objects-list-info
{
vertical-align:top;
}
#div-objects-list .objects-list-name
{
padding: 5px 0 0 0;
margin: 0;
}
#div-objects-list .objects-list-adress
{
padding: 1px 0 3px 0;
margin: 0;
color: #676767;
}
#div-objects-list .objects-list-add-info-focus
{
padding: 1px 0 3px 0;
margin: 0;
color: #676767;
font-weight:bold;
}



#div-objects-list .objects-list-info
{
padding: 1px 0 0 0;
margin: 0;
}


#div-objects-list .objects-list-name a
{
color:#000000;
font-weight:bold;
}


#div-objects-list table tr td.td-objects-list-price
{
width: 120px;
vertical-align:middle;
text-align:center;
}

.order_asc
{
padding: 0 0 5px 15px;
background:url(_img/str2.gif) no-repeat left center;
}
.order_desc
{
padding: 0 0 5px 15px;
background:url(_img/str1.gif) no-repeat left center;
}
.order_no
{
padding: 0 0 5px 22px;
background:url(_img/str3.gif) no-repeat left center;
}
#massage-no-objects h1
{
margin: 40px 0 0 0;
text-align:center;
}
#massage-no-objects p
{
margin: 10px 0 0 0;
text-align:center;
}