#talk-list
{
padding: 0;
margin: 0;
background-color: #E8E8E8;
position:relative;
}
#talk-list h2
{
padding: 0 0 0 0;
margin: 0;
text-align:left;
font-family:Verdana, Arial, Helvetica, sans-serif;
color: #9B9898;
}
#talk-list h2.h2-message
{
text-align:center;
}

#talk-list dl
{
display:block;
padding: 10px;
margin: 10px 0 0 0;
width: 95%;
overflow:auto;
}
#talk-list dl dt
{
text-align:center;
display:block;
padding: 0;
margin: 0;
width: 100px;
float:left;
}
#talk-list dl dd
{
text-align:left;
display:block;
padding: 5px;
margin: 0 0 0 110px;
border-left: 1px solid #999999;
min-height: 50px;
position:relative;
}
.user-info-shot
{
padding: 0;
margin: 0;
list-style-type:none;
}
.user-info-shot li
{
padding: 0;
margin: 0;
}